<div class='region-wrapper' *ngIf='!loading'>
  <header class="header-wrapper">
    <app-header></app-header>
  </header>

  <main>
    <div class='wrapper'>
      <div class='explore'>
        <h1>გაიცანი <span class='region-slug'>{{regionSlug | Georgian}}</span></h1></div>
      </div>
    <div class='wrapper'>
      <div class='gallery'>
        <div class='row'>
          <div class='column first'>
            <img *ngIf='region.cities[0] && region.cities[0].sightseeing; else noImg' [src]='region.cities[0].sightseeing.imageUrl ?? ""' (error)='onError($event.target)'>
          </div>
          <div class='column second'>
            <img *ngIf='region.cities[1] && region.cities[1].sightseeing; else noImg' [src]='region.cities[1].sightseeing.imageUrl ?? ""' (error)='onError($event.target)'>
            <img *ngIf='region.cities[2] && region.cities[2].sightseeing; else noImg' [src]='region.cities[2].sightseeing.imageUrl ?? ""' (error)='onError($event.target)'>
          </div>
          <ng-template #noImg>
            <img [src]='this.imagePlaceholder'>
          </ng-template>
        </div>
      </div>
    </div>
    <div class='wrapper color-2'>
      <div class='about'>
        <h2><span class='region-slug'>{{regionSlug | Georgian}}-ის</span> შესახებ</h2>
        <div class='info'>
          <div class='history'>
            {{this.region?.history}}
          </div>
          <div class='description'>
            {{this.region?.description}}
          </div>
          <div class='other-info'>
            <div class='center'>რეგიონის ცენტრი: {{this.region?.regionCenter?.name}}</div>
            <div class='area'>ფართობი: {{this.region?.area}} კმ<sup>2</sup></div>
            <div class='population'>მოსახლეობის რაოდენობა: {{this.region?.population}}</div>
            <div class='population'>მოსახლეობის სიმჭიდროვე: {{this.region?.populationDensity}} მოს/კმ<sup>2</sup></div>
          </div>
        </div>
      </div>
    </div>
    <div class='wrapper'>
      <div class='interesting'>
        <h2>საინტერესო</h2>
        <div class='cuisine carousel-gallery'>
          <div class='info'>
            <h3>კერძები</h3>
            <p>კერძები რომლიც გავრცელებულია {{regionSlug | Georgian}}-ში</p>
          </div>
          <div class='carousel-item' [ngClass]='{"no-item": !region.dishes[0]}'>
            <ng-container *ngIf='region.dishes[0]; else noDish'>
              <img [src]='region.dishes[0]?.imageUrl ?? ""' (error)='onError($event.target)'>
              <div class='name'>{{region.dishes[0]?.name || ''}}</div>
              <div class='rating'>
                <p-rating [stars]='5' [readonly]='true' [cancel]='false'[(ngModel)]='region.dishes[0].rating' ></p-rating>
              </div>
            </ng-container>
          </div>
          <div class='carousel-item' [ngClass]='{"no-item": !region.dishes[1]}'>
            <ng-container *ngIf='region.dishes[1]; else noDish'>
              <img [src]='region.dishes[1]?.imageUrl ?? ""' (error)='onError($event.target)'>
              <div class='name'>{{region.dishes[1]?.name || ''}}</div>
              <div class='rating'>
                <p-rating [stars]='5' [readonly]='true' [cancel]='false' [(ngModel)]='region.dishes[1].rating'></p-rating>
              </div>
            </ng-container>
          </div>
          <div class='carousel-item' [ngClass]='{"no-item": !region.dishes[2]}'>
            <ng-container *ngIf='region.dishes[2]; else noDish'>
              <img [src]='region.dishes[2]?.imageUrl ?? ""' (error)='onError($event.target)'>
              <div class='name'>{{region.dishes[2]?.name || ''}}</div>
              <div class='rating'>
                <p-rating [stars]='5' [readonly]='true' [cancel]='false' [(ngModel)]='region.dishes[2].rating'></p-rating>
              </div>
            </ng-container>
          </div>
          <ng-template #noDish>
            <div class='no-carousel-item'>
              <fa-icon [icon]='faUtensils'></fa-icon>
            </div>
          </ng-template>
        </div>
        <div class='sightseeing carousel-gallery'>
          <div class='info'>
            <h3>ღირშესანიშნაობები</h3>
            <p>ღირშესანიშნაობები რომლის ნახვასაც შეძლებთ {{regionSlug | Georgian}}-ში</p>
          </div>
          <div class='carousel-item' [ngClass]='{"no-item": !region.cities[0]}'>
            <ng-container *ngIf='region.cities[0]; else noDish'>
              <img [src]='region.cities[0].sightseeing.imageUrl' (error)='onError($event.target)'>
              <div class='name'>{{region.cities[0].sightseeing.description.split(" ")[0] || ''}}</div>
              <div class='rating'>
                <p-rating [stars]='5' [readonly]='true' [cancel]='false' [(ngModel)]='region.cities[0].sightseeing.rating'></p-rating>
              </div>
            </ng-container>
          </div>
          <div class='carousel-item' [ngClass]='{"no-item": !region.cities[1]}'>
            <ng-container *ngIf='region.cities[1]; else noDish'>
              <img [src]='region.cities[1].sightseeing.imageUrl' (error)='onError($event.target)'>
              <div class='name'>{{region.cities[1].name || ''}}</div>
              <div class='rating'>
                <p-rating [stars]='5' [readonly]='true' [cancel]='false' [(ngModel)]='region.cities[1].sightseeing.rating'></p-rating>
              </div>
            </ng-container>
          </div>
          <div class='carousel-item' [ngClass]='{"no-item": !region.cities[2]}'>
            <ng-container *ngIf='region.cities[2]; else noDish'>
              <img [src]='region.cities[2].sightseeing.imageUrl' (error)='onError($event.target)'>
              <div class='name'>{{region.cities[2].name || ''}}</div>
              <div class='rating'>
                <p-rating [stars]='5' [readonly]='true' [cancel]='false' [(ngModel)]='region.cities[2].sightseeing.rating'></p-rating>
              </div>
            </ng-container>
          </div>
          <ng-template #noDish>
            <div class='no-carousel-item'>
              <fa-icon [icon]='faTree'></fa-icon>
            </div>
          </ng-template>
        </div>
        <div class='hotels carousel-gallery'>
          <div class='info'>
            <h3>სასტუმროები</h3>
            <p>სასტუმროები სადაც დარჩენას შეძლებთ {{regionSlug | Georgian}}-ში</p>
          </div>
          <div class='carousel-item' [ngClass]='{"no-item": !region.cities[0] || !region.cities[0].hotels[0]}'>
            <ng-container *ngIf='region.cities[0] && region.cities[0].hotels[0]; else noHotel'>
              <img [src]='region.cities[0].hotels[0].imageUrl[0]' (error)='onError($event.target)'>
              <div class='name'>{{region.cities[0].hotels[0].name || ''}}</div>
              <div class='rating'>
                <p-rating [stars]='5' [readonly]='true' [cancel]='false' [(ngModel)]='region.cities[0].hotels[0].rating'></p-rating>
              </div>
            </ng-container>
          </div>
          <div class='carousel-item' [ngClass]='{"no-item": !region.cities[1] || !region.cities[1].hotels[0]}'>
            <ng-container *ngIf='region.cities[1] && region.cities[1].hotels[0]; else noHotel'>
              <img [src]='region.cities[1].hotels[0].imageUrl[0]' (error)='onError($event.target)'>
              <div class='name'>{{region.cities[1].hotels[0].name || ''}}</div>
              <div class='rating'>
                <p-rating [stars]='5' [readonly]='true' [cancel]='false' [(ngModel)]='region.cities[1].hotels[0].rating'></p-rating>
              </div>
            </ng-container>
          </div>
          <div class='carousel-item' [ngClass]='{"no-item": !region.cities[2] || !region.cities[2].hotels[0]}'>
            <ng-container *ngIf='region.cities[2] && region.cities[2].hotels[0]; else noHotel'>
              <img [src]='region.cities[2].hotels[0].imageUrl[0]' (error)='onError($event.target)'>
              <div class='name'>{{region.cities[2].hotels[0].name || ''}}</div>
              <div class='rating'>
                <p-rating [stars]='5' [readonly]='true' [cancel]='false' [(ngModel)]='region.cities[2].hotels[0].rating'></p-rating>
              </div>
            </ng-container>
          </div>
          <ng-template #noHotel>
            <div class='no-carousel-item'>
              <fa-icon [icon]='faBed'></fa-icon>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </main>


  <footer>
    <app-footer></app-footer>
  </footer>
</div>
