<div class='region-wrapper' *ngIf='!loading'>
  <header class="header-wrapper">
    <app-header></app-header>
  </header>

  <main>
    <div class='wrapper'>
      <div class='explore'>
        <h1>გაიცანი <span class='region-slug'>{{regionSlug | Georgian}}</span></h1></div>
      </div>
    <div class='wrapper'>
      <div class='gallery'>
        <div class='row'>
          <div class='column first'>
            <img [src]='this.imgGalleryData[0] ?? ""' (error)='onImgGalleryError($event.target)'>
          </div>
          <div class='column second'>
            <img [src]='this.imgGalleryData[1] ?? ""' (error)='onImgGalleryError($event.target)'>
            <img [src]='this.imgGalleryData[2] ?? ""' (error)='onImgGalleryError($event.target)'>
          </div>
          <ng-template #noImg>
            <img [src]='this.imagePlaceholder'>
          </ng-template>
        </div>
      </div>
    </div>
    <div class='wrapper color-2'>
      <div class='about'>
        <h2><span class='region-slug'>{{regionSlug | Georgian}}-ის</span> შესახებ</h2>
        <div class='info'>
          <div class='history'>
            {{this.region?.history}}
          </div>
          <div class='description'>
            {{this.region?.description}}
          </div>
          <div class='other-info'>
            <div class='center'>რეგიონის ცენტრი: {{this.region?.regionCenter?.name}}</div>
            <div class='area'>ფართობი: {{this.region?.area}} კმ<sup>2</sup></div>
            <div class='population'>მოსახლეობის რაოდენობა:  {{this.region?.population}}</div>
            <div class='population'>მოსახლეობის სიმჭიდროვე: {{this.region?.populationDensity}} მოს/კმ<sup>2</sup></div>
          </div>
        </div>
      </div>
    </div>
    <div class='wrapper'>
      <div class='interesting'>
        <h2>საინტერესო</h2>
        <div class='cuisine carousel-gallery'>
          <div class='info'>
            <h3>კერძები</h3>
            <p>კერძები რომლიც გავრცელებულია {{regionSlug | Georgian}}-ში</p>
          </div>
          <ng-container *ngFor='let dish of dishData; let i = index'>
            <div *ngIf='i<3' class='carousel-item'>
              <img [src]='dish.imageUrl' (error)='onError($event.target)'>
              <div class='name'>{{dish.name || ''}}</div>
              <div class='rating'>
                <p-rating [stars]='5' [readonly]='true' [cancel]='false' [(ngModel)]='dish.rating'></p-rating>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf='dishData.length < 3'>
            <div *ngFor='let temp of arrayFromNumber(3-dishData.length)' class='carousel-item'>
              <div *ngTemplateOutlet='noDish'></div>
            </div>
          </ng-container>

          <ng-template #noDish>
            <div class='no-carousel-item'>
              <fa-icon [icon]='faUtensils'></fa-icon>
            </div>
          </ng-template>
        </div>
        <div class='sightseeing carousel-gallery'>
          <div class='info'>
            <h3>ღირშესანიშნაობები</h3>
            <p>ღირშესანიშნაობები რომლის ნახვასაც შეძლებთ {{regionSlug | Georgian}}-ში</p>
          </div>
          <ng-container *ngFor='let sight of sightsData; let i = index'>
            <div *ngIf='i<3' class='carousel-item'>
              <img [src]='sight.imageUrl' (error)='onError($event.target)'>
              <div class='name'>{{sight.description.split(" ")[0] || ''}}</div>
              <div class='rating'>
                <p-rating [stars]='5' [readonly]='true' [cancel]='false' [(ngModel)]='sight.rating'></p-rating>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf='sightsData.length < 3'>
            <div *ngFor='let temp of arrayFromNumber(3-sightsData.length)' class='carousel-item'>
              <div *ngTemplateOutlet='noSights'></div>
            </div>
          </ng-container>

          <ng-template #noSights>
            <div class='no-carousel-item'>
              <fa-icon [icon]='faTree'></fa-icon>
            </div>
          </ng-template>
        </div>
        <div class='hotels carousel-gallery'>
          <div class='info'>
            <h3>სასტუმროები</h3>
            <p>სასტუმროები სადაც დარჩენას შეძლებთ {{regionSlug | Georgian}}-ში</p>
          </div>
          <ng-container *ngFor='let hotel of hotelsData; let i = index'>
            <div *ngIf='i<3' class='carousel-item'>
              <img [src]='hotel.imageUrl' (error)='onError($event.target)'>
              <div class='name'>{{hotel.name || ''}}</div>
              <div class='rating'>
                <p-rating [stars]='5' [readonly]='true' [cancel]='false' [(ngModel)]='hotel.rating'></p-rating>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf='hotelsData.length < 3'>
            <div *ngFor='let temp of arrayFromNumber(3-hotelsData.length)' class='carousel-item'>
              <div *ngTemplateOutlet='noHotel'></div>
            </div>
          </ng-container>

          <ng-template #noHotel>
            <div class='no-carousel-item'>
              <fa-icon [icon]='faBed'></fa-icon>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </main>


  <footer>
    <app-footer></app-footer>
  </footer>
</div>
