/* You can add global styles to this file, and also import other style files */
header.header-wrapper{
  position: sticky;
  height: 60px;
}

.p-rating .p-rating-icon.pi-star{
  color: var(--primary-green);
}
