.popup-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgba(52, 224, 161, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  .popup-content {
    width: 50%;
    height: 70%;
    border-radius: 8px;
    background-color: #fff;
    border: solid 1px #d7d3f3;
    box-shadow: 0 16px 24px rgba(33, 8, 67, 0.24);
    position: relative;
  }
}

.dish-wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  .dish-image {
    width: 100%;
    height: 100%;
    img {
      border-bottom-left-radius: 8px;
      border-top-left-radius: 8px;
      width:100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .dish-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .description-content{
      height: max-content;
      width: 80%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 20px;
      font-weight: bold;
      //gap: 20px;
      //.box {
      //  font-weight: bold;
      //  display: flex;
      //  flex-direction: column;
      //  gap: 20px
      //}
    }
  }
}

.close-icon {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: var(--primary-green)
}
