.full-page{
  height: 100vh;
  width: 100%;

  header {
    position: sticky;
    height: 60px;
  }

  main {
    position: relative;
    height: calc(100% - 60px);
    width: 100%;
  }


  .carousel-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    .carousel-container {
      position: relative;
      height: 100%;
      width: 100%;

      .change-buttons {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        z-index: 100;
        .change-button{
          &.prev {
            margin-left: 20px;
          }
          &.next {
            margin-right: 20px;
          }
          fa-icon {
            color: var(--white);
            font-size: 30px;
          }
        }

      }

      .carousel {
        width: 100%;
        height: 100%;
      }

      .carousel-item {
        &.show {
          display: initial;
        }
        &.hide {
          display: none;
        }
        .carousel-img {
          object-fit: cover;
          object-position: center;
          width: 100%;
          height: 100%;
        }
        .gradient {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-image: linear-gradient(to bottom, rgba(0,0,0, 0.2), rgba(0,0,0, 0.4));
        }
      }
    }
  }
}
