.region-wrapper{
  width: 100%;
  position: relative;

  main {
    width: 100%;
    margin: 0 auto;
    gap: 20px;

    .wrapper{
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 15px 0;
      &.color-2{
        background-color: #FAF1ED;
      }
    }

    h1, h2{
      color: #ff5d5d;
      font-size: 50px;
      font-weight: 900;
      text-transform: capitalize;
      .region-slug {
        color: black;
      }
    }
    h2 {
      font-size: 28px;
    }

    .explore {
      width: 75%
    }

    .gallery {
      height: 430px;
      width: 75%;
      box-sizing: content-box;
      .row {
        display: flex;
        gap: 4px;
        width: 100%;
        height: 100%;
        .column {
          height: 100%;
          width: 100%;
          &.second {
            display: flex;
            flex-direction: column;
            gap: 4px;
            img {
              height: calc(50% - 2px);
            }
          }
        }
      }
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .about {
      width: 75%;
      font-size: 20px;
      .info {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .other-info {
          display: flex;
          flex-direction: column;
          gap: 5px;
          sup {
            vertical-align: super;
            font-size: 10px;
          }
        }
      }
    }

    .interesting{
      width: 75%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .carousel-gallery {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .info {
          max-width: 250px;
          h3 {
            //color: #ff5d5d;
            font-size: 18px;
            font-weight: 900;
            text-transform: capitalize;
          }
          p {
            font-size: 16px;
          }
        }
        .carousel-item {
          width: 250px;
          height: 200px;
          display: flex;
          flex-direction: column;
          gap: 2px;
          &.no-item {

          }
          img {
            width: 250px;
            height: 150px;
            object-fit: cover;
            object-position: center;
          }
        }
        .no-carousel-item {
          background: #FAF1ED;
          width: 100%;
          height: 150px;
          display: flex;
          justify-content: center;
          align-items: center;
          fa-icon {
            font-size: 20px;
            color: var(--primary-green)
          }
        }
      }
    }

  }

  footer {
    width: 100%;
    background: #FAF1ED;
  }
}
