<div class='region-wrapper' *ngIf='!loading'>
  <header class="header-wrapper">
    <app-header></app-header>
  </header>

  <main>
    <div class='wrapper'>
      <div class='explore'>
        <h1>გაიცანი <span class='region-slug'>{{citySlug | Georgian}}</span></h1></div>
      </div>
    <div class='wrapper'>
      <div class='gallery'>
        <div class='row'>
          <div class='column first'>
            <img [src]='this.imgGalleryData[0] ?? ""' (error)='onImgGalleryError($event.target)'>
          </div>
          <div class='column second'>
            <img [src]='this.imgGalleryData[1] ?? ""' (error)='onImgGalleryError($event.target)'>
            <img [src]='this.imgGalleryData[2] ?? ""' (error)='onImgGalleryError($event.target)'>
          </div>
          <ng-template #noImg>
            <img [src]='this.imagePlaceholder'>
          </ng-template>
        </div>
      </div>
    </div>
    <div class='wrapper color-2'>
      <div class='about'>
        <h2><span class='region-slug'>{{citySlug | Georgian}}-ის</span> შესახებ</h2>
        <div class='info'>
          <div class='history'>
            {{this.city?.history}}
          </div>
          <div class='description'>
            {{this.city?.description}}
          </div>
          <div class='other-info'>
            <div class='area'>ფართობი: {{this.city?.area}} კმ<sup>2</sup></div>
            <div class='population'>მოსახლეობის რაოდენობა: {{this.city?.population}}</div>
            <div class='population'>მოსახლეობის სიმჭიდროვე: {{this.city?.populationDensity}} მოს/კმ<sup>2</sup></div>
          </div>
        </div>
      </div>
    </div>
    <div class='wrapper'>
      <div class='interesting'>
        <h2>საინტერესო</h2>
        <div class='hotels carousel-gallery'>
          <div class='info'>
            <h3>ეძებთ დასარჩენს?</h3>
            <p>ადგილები სადაც დარჩენას შეძლებთ {{citySlug | Georgian}}-ში</p>
          </div>
          <ng-container *ngFor='let hotel of hotelsData; let i = index'>
            <div *ngIf='i<3' class='carousel-item'>
              <img [src]='hotel.imageUrl' (error)='onError($event.target)'>
              <div class='name'>{{hotel.description.split(" ")[0] || ''}}</div>
              <div class='rating'>
                <p-rating [stars]='5' [readonly]='true' [cancel]='false' [(ngModel)]='hotel.rating'></p-rating>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf='hotelsData.length < 3'>
            <div *ngFor='let temp of arrayFromNumber(3-hotelsData.length)' class='carousel-item'>
              <div *ngTemplateOutlet='noHotel'></div>
            </div>
          </ng-container>
          <ng-template #noHotel>
            <div class='no-carousel-item'>
              <fa-icon [icon]='faBed'></fa-icon>
            </div>
          </ng-template>
        </div>
        <div class='restaurants carousel-gallery'>
          <div class='info'>
            <h3>ეძებთ რესტორანს?</h3>
            <p>ადგილები სადაც გემრიელ სამზარეულოს გასინჯავთ {{citySlug | Georgian}}-ში</p>
          </div>
          <ng-container *ngFor='let rest of restaurantData; let i = index'>
            <div *ngIf='i<3' class='carousel-item'>
              <img [src]='rest.imageUrl' (error)='onError($event.target)'>
              <div class='name'>{{rest.description.split(" ")[0] || ''}}</div>
              <div class='rating'>
                <p-rating [stars]='5' [readonly]='true' [cancel]='false' [(ngModel)]='rest.rating'></p-rating>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf='restaurantData.length < 3'>
            <div *ngFor='let temp of arrayFromNumber(3-restaurantData.length)' class='carousel-item'>
              <div *ngTemplateOutlet='noRestaurant'></div>
            </div>
          </ng-container>
          <ng-template #noRestaurant>
            <div class='no-carousel-item'>
              <fa-icon [icon]='faUtensils'></fa-icon>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </main>


  <footer>
    <app-footer></app-footer>
  </footer>
</div>
